<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.multi.source.mapper.CjPoetryMapper">


    <insert id="save">
        insert into cj_poetry values
            (
            #{author},
            #{title},
            #{content},
            #{intro},
            #{translation},
            #{masterComment},
            #{annotation}
             )
    </insert>
</mapper>