<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.multi.source.mapper.WRMapper">


    <insert id="saveW">
      insert
      into
      ms_w
      (message)
      values (#{message})

    </insert>
    <select id="findById" resultType="java.util.Map">
        select * from ms_r where id=#{id}
    </select>
</mapper>